<div class="leaderboard-content">

  <h1>Classifica</h1>
  <h2>Speriamo non abbia vinto Gu</h2>

  <table>
    <tr>
      <td>
        <p class="winner">
          {{winnerNick}} &#9812;
        </p>
      </td>
      <td>
        <p class="winner score">
          {{winnerScore}}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p class=otherPlayers
            ng-repeat="player in otherPlayers"
            ng-show="player.nickname !== winnerNick">
          {{player.nickname}}
        </p>
      </td>
      <td>
        <p class="otherPlayers score"
            ng-repeat="player in otherPlayers"
            ng-show="player.nickname !== winnerNick">
          {{player.points}}
        </p>
      </td>
    </tr>
  </table>
  <div class="footerDivider">

  </div>
  <div class="footer">
    <a ng-click="goHome()"
        class="footer">
      GIOCA ANCORA BOOMER
    </a>
  </div>

</div>