<!doctype html>
<html ng-app="app">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet/less"
      href="index.less"
      type="text/css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>

<body>
  <div ng-controller="controller as app">
    <h1>{{pippo}}</h1>
    <h2>Titoletto</h2>
    <input type="text"
        class="tbox"
        ng-model="pluto"
        ng-change="onChange()"
        ng-blur="onBlur()" />
    <input type="button"
        value="asdsadsa"
        ng-click="onClick()" />
    <span class="cicci"> CICCIO
      <div>
      </div></span>
    <span class="cicci ciao"> CIAO
      <div>
      </div></span>
    <div class="provolozzo">
      <div class="a1">
        A
      </div>
      <div class="a2">

      </div>
      <div class="a2">

      </div>
      <div class="a2">

      </div>
      <div class="a2">

      </div>
      <div class="a2">

      </div>
      <div class="a2">

      </div>
      <div class="a2">

      </div>
    </div>
    <div>
      CIAONEONE
    </div>

    <div ng-repeat="card in cards track by $index">
      #{{$index + card}} {{card}}
    </div>
  </div>
</body>

</html>