.button {
  display: inline-block;
  text-align: center;
  user-select: none;
  display: inline-block;
  height: 20px;
  width: auto;
  font-size: 16px;
  border-radius: 10px;
  border: 3px solid #ffffff;
  padding: 0 6px;
  margin: 10px;
  cursor: pointer;

  .button-content {
    vertical-align: middle;
  }
}

a {
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: relative;

  h1 {
    position: relative;
    flex: 0 1 5vh;
    line-height: 5vh;
    font-size: 5vw;
    text-align: center;
    color: #ffffff;
  }

  .editor {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;

    // @media (max-width: 750px) {
    //   flex-direction: column;
    // }

    .panel {
      position: relative;
      box-sizing: border-box;
      padding: 0 15px;
      width: 50%;
      height: 100%;
      display:block;

      .list {
        position: relative;
        width: 100%;
        height: 70vh;
        flex: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        .card {
          position: relative;
          border-width: 4px;
          border-radius: 12px;
          width: 100%;
          flex: 0 0 60px;
          margin: 5px 0;
          border-style: solid;
          border-color: white;
          box-sizing: border-box;
          padding: 6px;

          &:hover {
            .delete.button {
              display: flex;
            }
          }

          &.white {
            background-color: white;
            color: black;
          }

          &.black {
            background-color: black;
            color: white;
          }

          .delete.button {
            position: absolute;
            right: 0;
            top: 0;
            background-color: red;
            border-color: red;
            text-align: center;
            user-select: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
            padding: 0 6px;
            width: auto;
            height: 20px;
            padding: 3px;
            color: white;
            display: none;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .controls {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        position: relative;
        flex: 0 0 40px;

        .textbox {
          flex: 1;
          overflow-wrap: break-word;
          resize: none;
          margin-right: 10px;
        }

        .send-button {
        }
      }

      &.white {}

      &.black {}
    }
  }

  .footer {
    flex: 0 0 auto;
    color: #ffffff;
    position: relative;
    margin: 8px;
    font-size: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    align-self: flex-start;

    .footer-element {
      margin: 0 8px;
    }
    .deck-input {
      margin-left: -8px;
    }
  }
}
