<div class="user-manager-content">

  <h1>Cards Against Poldo</h1>
  <h2>User Manager</h2>

  <div>
    <p ng-show="players.length > 0">
      Giocatori connessi:
    </p>
    <p ng-show="players.length === 0">
      Nessun giocatore connesso
    </p>
    <div class="playerList"
        ng-show="players.length > 0">
      <div class="player"
          ng-repeat="player in players">
        <p class="name master"
            ng-show="player === master">
          {{player}} &#9733;
        </p>
        <p class="name"
            ng-show="player !== master">
          {{player}}
        </p>
        <input class="removeButton"
            type="button"
            value="Rimuovi"
            ng-click="removeButton_onClick(player)" />
      </div>
    </div>
  </div>
  <p class="errorMsg">{{playersErr}}</p>

  <div class="staccatutto"
      ng-click="forceCloseGame()">
    <span class="staccatutto-text"> STACCA STACCAAAAA </span>
  </div>
</div>