<div class="home-content">

  <h1>Cards Against Poldo</h1>
  <h2>{{subtitle}}</h2>

  <div class="start-button-space">
    <div class="button start"
        ng-if="playerStatus === playerStatusEnum.JOINED && nickname === master && players.length >= 2"
        ng-click="startButton_onClick()">
      <span class="button-content">Inizia partita</span>
    </div>
  </div>

  <p class="err-msg">{{nickErr}}</p>
  <form class="nick-input"
      name="nickInputForm"
      novalidate>
    <input class="textbox"
        type="text"
        required
        name="textbox"
        ng-model="nickname"
        ng-maxlength=20
        ng-disabled="playerStatus !== playerStatusEnum.NOT_JOINED"
        autocomplete="off" />
    <div class="button join"
        ng-click="nickButton_onClick()">
      <span class="button-content">{{playerStatusEnum.buttonText[playerStatus]}}</span>
    </div>
  </form>

  <p ng-if="players.length > 0">
    Giocatori connessi:
  </p>
  <p ng-if="players.length === 0">
    Nessun giocatore connesso
  </p>
  <div class="player-list"
      ng-if="players.length > 0">
    <div class="player"
        ng-repeat="player in players">
      <p class="name master"
          ng-if="player === master">
        {{player}} &#9733;
      </p>
      <p class="name"
          ng-if="player !== master">
        {{player}}
      </p>
      <div class="button remove"
          ng-if="playerStatus === playerStatusEnum.JOINED && nickname === master && player !== nickname"
          ng-click="removeButton_onClick(player)">
        <span class="button-content">Rimuovi</span>
      </div>
    </div>
  </div>
  <p class="err-msg">{{playersErr}}</p>

  <div class="footer">
    <a ng-click="changeRoute('/cardManager')"
        class="footer">
      Gestisci carte
    </a>
  </div>
</div>
